:root {

  --background: #190a19;
  --text: #ece0ed;
  --primary: #e299e4;
  --secondary: #87148b;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html{
    overflow: hidden;
  }
  body{
    background-color: var(--background);
    color: var(--text);
    overflow: hidden;
  }
